<app-map-key></app-map-key>

<app-map
[mapWidth]="mapWidth"
[mapHeight]="mapHeight"
[mapOptions]="mapOptions"
>
</app-map>

<div class="buoys">
    <div class="lakeTitle">
        <img id="icon-buoy" src="assets/icon-buoy.svg">
        <span id="title"></span>
    </div>
    <table>
        <tr *ngFor="let cells of rows" class="table-rows">
            <td *ngFor="let buoy of cells" (mouseenter)=titleChange(buoy.longName) class="table-cells">
                <span class="buoyid" (click)="routeToBuoy(buoy)">{{ buoy.id }}</span>
            </td>
        </tr>
    </table>
</div>

<div class="about">
    <span class="aboutTitle">About the Buoy Portal</span>
    <div class="rectangle"></div>
    <p id="mainText">The Great Lakes Observing System’s Great Lakes Buoy Portal provides users with near real-time weather, wave, and water quality conditions observed in the Great Lakes. The portal also allows users to check weather and wave forecasts, and to view hazard information from the National Weather Service. Observations come from both privately- and publicly-owned buoys. Forecasts are from NOAA’s <a href="https://www.glerl.noaa.gov/"> Great Lakes Environmental Research Laboratory’s</a>, the <a href="https://www.glerl.noaa.gov/res/glcfs/">Great Lakes Coastal Forecasting System</a>, and <a href="http://www.weather.gov/">the National Weather Service.</a></p>
</div>

