<nav class="nav-header">
    <div class="nav-home" (click)="toHome()">
        <img class="nav-logo" src="../assets/logo-mark.svg" alt="Great Lakes Observation System">
        <h1 class="header-great-lakes">Great Lakes</h1>
        <h2 class="header-buoy-portal">| Buoy Portal</h2>
    </div>
    <div class="profile-ctn">
        <div class="menu-btn-container">
            <img class="menu-btn" src="../assets/icon-menu.svg" alt="Menu" >
        </div>
        <button class="create-profile-btn" routerLink="/register" *ngIf="!isLoggedIn">Create Profile</button>
        <button class="login-btn" routerLink="/login" *ngIf="!isLoggedIn">Login</button>
        <button class="logout-btn" routerLink="/buoyportal/all-lakes" *ngIf="isLoggedIn" (click)="logoutUser()"><img src="../assets/icon-logout.svg" class="icon-logout">Logout</button>
    </div>
</nav>