<nav-top></nav-top>

<div class="loginpage">
    
    <div class="register">
        <label for="email" class="email">EMAIL
            <br>
            <input name="email" type="text" placeholder="Enter Email" class="emailinput">
        </label>

        <label for="password" class="password">PASSWORD
            <br>
            <input name="password" type="password" placeholder="Enter Password" class="passwordinput">
        </label>

        <label for="zip" class="zip">ZIP
            <br>
            <input name="zip" type="text" placeholder="Enter ZIP" class="zipinput">
        </label>
 
        <button class="submitbutton" (click)="createUser()">Submit</button>
    </div>    
</div>

