// Favorites Section
#mainText {
  font-size: 14px;
  color: var(--charcoal);
}

.fbl {
  margin: 40px 16px;
}

.favoriteTitle {
  display: flex;
  align-items: center;
}

.favRectangle {
  margin-top: 16px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--white);
}

.buoyName {
  font-size: 16px;
  margin-right: 24px;
}

.buoyInformation-ctn {
  display: flex;
  align-items: center;
}

.weather-info-ctn {
  margin-right: 24px;
  display: flex;
  align-items: center;
}

.temp-info-ctn {
  display: flex;
  align-items: center;
}

#weather {
  width: 48px;
  height: 48px;
}

.temp-icon-ctn {
  margin-right: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fbc02d;
}

#temp {
  width: 24px;
  height: 24px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(174deg) brightness(102%) contrast(101%);
}


// Buoy of the Day Video
.buoyOfTheDay {
  margin: 40px 16px;
}

.botd-header-ctn {
  display: flex;
  align-items: center;
}

.botd-header {
  font-size: 16px;
  color: var(--charcoal);
}

.icon-buoy {
  margin-right: 8px;
  filter: invert(32%) sepia(65%) saturate(612%) hue-rotate(183deg) brightness(83%) contrast(83%);
}

.videoModal {
  margin-top: 16px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
}

.buoyName {
  font-size: 16px;
  margin: 16px 0;
  color: var(--charcoal);
}

.botd-video {
  width: 100%;
  height: 320px;
}


// Bottom Paragraph Section
.about {
  margin: 40px 16px;
  }
  
  .aboutTitle {
    font-size: 18px;
    color: var(--Charcoal);
  }
  
  .rectangle {
    width: 60px;
    height: 4px;
    margin: 8px 0 16px 0;
    background-image: linear-gradient(
      to left,
      var(--turquoise),
      var(--cobalt)
    );
  }
  
  #mainText {
    font-size: 14px;
    color: var(--Charcoal);
  }


  @media screen and (min-width: 800px){
    .buoyOfTheDay {
      margin-top: 40px;
    }
    
    .botd-video {
      width: 100%;
      height: 480px;
    }

    .about {
      margin-top: 40px;
      margin-bottom: 56px;
    }
  }



  @media screen and (min-width: 1024px){
    .fbl {
      width: 80%;
      margin: 40px 16px;
      margin-left: 40px;
    }

    .buoyOfTheDay {
      width: 80%;
      margin-top: 40px;
      margin-left: 48px;
    }
    
    .botd-video {
      width: 100%;
      height: 600px;
    }

    .about {
      width: 80%;
      margin-top: 40px;
      margin-left: 48px;
      margin-bottom: 56px;
    }
    
  }