/* You can add global styles to this file, and also import other style files */
*,
*:before,
*:after {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

:root {
    // Gray Scale
    --black: #000;
    --charcoal: #333;
    --gray: #999;
    --light-gray: #eee;
    --off-white: #f4f4f4;
    --white: #fff;

    // Colors
    --light-periwinkle: #ced5e4;
    --dark-blue: #3b5795;
    --cobalt: #2979ff;
    --turquoise: #3997b5;
    --red: #ff1744;
    --gold: #fbc02d;
}

body {
    height: 100vh;
}